body {
    margin: 5%;
    margin-right: 8%;
    margin-left: 8%;
}

.fa {
    /* font-size: 1.7vmax; */
    font-family: BNazanin;
    font-display: swap;
}

.fa-heading {
    font-family: BTitr;
    font-display: swap;
}

.en {
    /* English texts will be always 0.2vmax smaller than the surrounding texts */
    font-size: calc(1em - 0.2vmax);
    font-family: 'Times New Roman', Times, serif;
    font-display: swap;
}

.main-heading {
    text-align: center;
    min-height: 4vh;
    font-size: 8.5vmax;
    /* font-size: 3.5vmax; */  /* a magic number for heading */
}

h1 {
    font-size: 7.5vmax;
}

h2 {
    font-size: 6.5vmax;
}

h3 {
    font-size: 5.5vmax;
}

h4 {
    font-size: 4.5vmax;
}

h5 {
    font-size: 3.5vmax;
}

h6 {
    font-size: 2.5vmax;
}

.main-img {
    border-radius: 30px;
    /* min-height: 36vh; */  /* experimental code added here to comply with
                                the original master PDF (choke_987) but it
                                makes wide pictures to overflow horizontally,
                                specially on mobile phones */
    max-width: 100%;  /* this code fixes the horizontal overflow problem */
}

table {
    border-collapse: collapse;
    width: 100%;
    min-height: 20.03vh;  /* based on original pdf */
    font-size: 1.7vmax;  /* a magic number based on guess work; we have no css
                            only solution other than this */
    margin-top: 2%;
    margin-bottom: 2%;
    font-family: BNazanin;
    font-display: swap;
}

.table-pseudo-heading {
    font-family: BTitr;
    font-display: swap;
}

.main-text {
    font-family: BNazanin;
    font-size: 1.7vmax;  /* same magic number from table */
    text-align: justify;
    font-display: swap;
}

.main-text-heading{
    font-family: BTitr;
    font-size: 2.1vmax;  /* just a magic number bigger than normal explanation text and smaller than main-heading */
    font-display: swap;
}